/vim/bundle/vimwiki/
/vim/.netrwhist
/setup.lock

**/*.old
**/*.log
**/*.xbel
**/htoprc
**/local/share
**/config/dconf
**/config/enchant
**/config/gtk*
**/config/mimeapps.list
**/config/spotify/
/emacs.d/straight/
/emacs.d/elpa/
/emacs.d/recentf
/emacs.d/bookmarks
/emacs.d/.lsp-session*
/emacs.d/projectile-bookmarks.eld
/emacs.d/projectile.cache
/emacs.d/transient
/emacs.d/tramp
/emacs.d/eshell
